html {
    font-family: Georgia, serif;
    background-image: url('wallpaper.png');
    background-position-x: center;
    background-position-y: center;
}

h1 {
    font-size: 3vw;
    text-align: center;
    color: white;
}

label {
    font-size: 1.5vw;
}

input {
    width: 20vw;
    height: 3vh;
}

.container {
    background-color: white;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    width: 40vw;
    height: 15vh;
    border: 1px solid #ccc;
}